# NumPy Practice

This notebook offers a set of exercises for different tasks with NumPy.

It should be noted there may be more than one different way to answer a question or complete an exercise.

Exercises are based off (and directly taken from) the quick introduction to NumPy notebook.

Different tasks will be detailed by comments or text.

For further reference and resources, it's advised to check out the [NumPy documentation](https://numpy.org/devdocs/user/index.html).

And if you get stuck, try searching for a question in the following format: "how to do XYZ with numpy", where XYZ is the function you want to leverage from NumPy.

In [1]:
# Import NumPy as its abbreviation 'np'
import numpy as np
import expectexception

In [2]:
# Create a 1-dimensional NumPy array using np.array()
a1 = np.array([1, 2, 3, 4, 5])

# Create a 2-dimensional NumPy array using np.array()
a2 = np.array([[0, 1, 2, 3, 4],
               [5, 6, 7, 8, 9]])

# Create a 3-dimensional Numpy array using np.array()
a3 = np.array([[[0, 1, 2, 3, 4],
               [5, 6, 7, 8, 9]],
               [[10, 11, 12, 13, 14],
               [15, 16, 17, 18, 19]]])

Now we've you've created 3 different arrays, let's find details about them.

Find the shape, number of dimensions, data type, size and type of each array.

In [3]:
# Attributes of 1-dimensional array (shape, 
# number of dimensions, data type, size and type)
print('a1 n-dim:', a1.ndim)
print('a1 dtype:', a1.dtype)
print('a1 size :', a1.size)
print('a1 type :', type(a1))
print('a1 shape:', a1.shape)
print('a1 array:')
print(a1)

a1 n-dim: 1
a1 dtype: int32
a1 size : 5
a1 type : <class 'numpy.ndarray'>
a1 shape: (5,)
a1 array:
[1 2 3 4 5]

In [4]:
# Attributes of 2-dimensional array
print('a2 n-dim:', a2.ndim)
print('a2 dtype:', a2.dtype)
print('a2 size :', a2.size)
print('a2 type :', type(a2))
print('a2 shape:', a2.shape)
print('a2 array:')
print(a2)

a2 n-dim: 2
a2 dtype: int32
a2 size : 10
a2 type : <class 'numpy.ndarray'>
a2 shape: (2, 5)
a2 array:
[[0 1 2 3 4]
 [5 6 7 8 9]]

In [5]:
# Attributes of 3-dimensional array
print('a3 n-dim:', a3.ndim)
print('a3 dtype:', a3.dtype)
print('a3 size :', a3.size)
print('a3 type :', type(a3))
print('a3 shape:', a3.shape)
print('a3 array:')
print(a3)

a3 n-dim: 3
a3 dtype: int32
a3 size : 20
a3 type : <class 'numpy.ndarray'>
a3 shape: (2, 2, 5)
a3 array:
[[[ 0  1  2  3  4]
  [ 5  6  7  8  9]]

 [[10 11 12 13 14]
  [15 16 17 18 19]]]

In [6]:
# Import pandas and create a DataFrame out of one
# of the arrays you've created
import pandas as pd

df = pd.DataFrame(a2)
df

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [7]:
# Create an array of shape (10, 2) with only ones
ones = np.ones((10, 2))
ones

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [8]:
# Create an array of shape (7, 2, 3) of only zeros
zeros = np.zeros((7, 2, 3))
zeros

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [9]:
# Create an array within a range of 0 and 100 with step 3
range_array = np.arange(0, 100, 3)
range_array

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [10]:
# Create a random array with numbers between 0 and 10 of size (7, 2)
random_array = np.random.randint(10, size=(7,2))
random_array

array([[2, 0],
       [8, 3],
       [4, 8],
       [4, 8],
       [0, 8],
       [8, 6],
       [3, 2]])

In [11]:
# Create a random array of floats between 0 & 1 of shape (3, 5)
random_array = np.random.random(size=(3,5))
random_array

array([[0.42509552, 0.51728132, 0.14927971, 0.80562741, 0.86096064],
       [0.5500157 , 0.62377269, 0.56804324, 0.74819864, 0.10291661],
       [0.81294565, 0.2846903 , 0.5743766 , 0.33269981, 0.68187114]])

In [12]:
# Set the random seed to 42
np.random.seed(seed=42)

# Create a random array of numbers between 0 & 10 of size (4, 6)
random_array = np.random.randint(10, size=(4,6))
random_array

array([[6, 3, 7, 4, 6, 9],
       [2, 6, 7, 4, 3, 7],
       [7, 2, 5, 4, 1, 7],
       [5, 1, 4, 0, 9, 5]])

Run the cell above again, what happens?

Are the numbers in the array different or the same? Why do think this is?

In [13]:
# Set the random seed to 42
np.random.seed(seed=42)

# Create a random array of numbers between 0 & 10 of size (4, 6)
random_array = np.random.randint(10, size=(4,6))
random_array

array([[6, 3, 7, 4, 6, 9],
       [2, 6, 7, 4, 3, 7],
       [7, 2, 5, 4, 1, 7],
       [5, 1, 4, 0, 9, 5]])

In [14]:
# Create an array of random numbers between 1 & 10 of size (3, 7)
# and save it to a variable
my_array = np.random.randint(1,11, size=(3,7))
print(my_array)

# Find the unique numbers in the array you just created
np.unique(my_array)

[[ 9  1 10  3  7  4  9]
 [ 3  5  3  7  5  9  7]
 [ 2  4  9  2 10  9 10]]

array([ 1,  2,  3,  4,  5,  7,  9, 10])

In [15]:
# Find the 0'th index of the latest array you created
my_array[0]

array([ 9,  1, 10,  3,  7,  4,  9])

In [16]:
# Get the first 2 rows of latest array you created
my_array[:2]

array([[ 9,  1, 10,  3,  7,  4,  9],
       [ 3,  5,  3,  7,  5,  9,  7]])

In [17]:
# Get the first 2 values of the first 2 rows of the latest array
my_array[:2, :2]

array([[9, 1],
       [3, 5]])

In [18]:
# Create a random array of numbers between 0 & 10 and an array of ones
# both of size (3, 5), save them both to variables
random_array = np.random.randint(10, size=(3, 5))
print(random_array)
ones = np.ones((3,5))
ones

[[4 1 3 6 7]
 [2 0 3 1 7]
 [3 1 5 5 9]]

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [19]:
# Add the two arrays together
random_array + ones

array([[ 5.,  2.,  4.,  7.,  8.],
       [ 3.,  1.,  4.,  2.,  8.],
       [ 4.,  2.,  6.,  6., 10.]])

In [20]:
# Create another array of ones of shape (5, 3)
ones = np.ones((5, 3))
ones

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [21]:
%%expect_exception ValueError
# Try add the array of ones and the other most recent array together
print(random_array.shape, ones.shape)
random_array + ones

(3, 5) (5, 3)
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Input In [21], in <cell line: 3>()
      1 # Try add the array of ones and the other most recent array together
      2 print(random_array.shape, ones.shape)
----> 3 random_array + ones

ValueError: operands could not be broadcast together with shapes (3,5) (5,3)

When you try the last cell, it produces an error. Why do think this is?

How would you fix it?

In [22]:
# Create another array of ones of shape (3, 5)
ones = np.ones((3, 5))
ones

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [23]:
# Subtract the new array of ones from the other most recent array
print(random_array)
random_array - ones

[[4 1 3 6 7]
 [2 0 3 1 7]
 [3 1 5 5 9]]

array([[ 3.,  0.,  2.,  5.,  6.],
       [ 1., -1.,  2.,  0.,  6.],
       [ 2.,  0.,  4.,  4.,  8.]])

In [24]:
# Multiply the ones array with the latest array
random_array * ones

array([[4., 1., 3., 6., 7.],
       [2., 0., 3., 1., 7.],
       [3., 1., 5., 5., 9.]])

In [25]:
# Take the latest array to the power of 2 using '**'
random_array ** 2

array([[16,  1,  9, 36, 49],
       [ 4,  0,  9,  1, 49],
       [ 9,  1, 25, 25, 81]], dtype=int32)

In [26]:
# Do the same thing with np.square()
np.square(random_array)

array([[16,  1,  9, 36, 49],
       [ 4,  0,  9,  1, 49],
       [ 9,  1, 25, 25, 81]], dtype=int32)

In [27]:
# Find the mean of the latest array using np.mean()
random_array.mean()

3.8

In [28]:
# Find the maximum of the latest array using np.max()
random_array.max()

9

In [29]:
# Find the minimum of the latest array using np.min()
random_array.min()

0

In [30]:
# Find the standard deviation of the latest array
random_array.std()

2.5612496949731396

In [31]:
# Find the variance of the latest array
random_array.var()

6.5600000000000005

In [32]:
# Reshape the latest array to (3, 5, 1)
print(random_array)
print(random_array.shape)
random_array.reshape(1, 3, 5)

[[4 1 3 6 7]
 [2 0 3 1 7]
 [3 1 5 5 9]]
(3, 5)

array([[[4, 1, 3, 6, 7],
        [2, 0, 3, 1, 7],
        [3, 1, 5, 5, 9]]])

In [33]:
random_array.reshape(3, 5, 1)

array([[[4],
        [1],
        [3],
        [6],
        [7]],

       [[2],
        [0],
        [3],
        [1],
        [7]],

       [[3],
        [1],
        [5],
        [5],
        [9]]])

In [34]:
# Transpose the latest array
random_array.T

array([[4, 2, 3],
       [1, 0, 1],
       [3, 3, 5],
       [6, 1, 5],
       [7, 7, 9]])

What does the transpose do?

In [35]:
# Create two arrays of random integers between 0 to 10
# one of size (3, 3) the other of size (3, 2)
a1 = np.random.randint(10, size=(3,3))
a2 = np.random.randint(10, size=(3,2))
print(a1)
a2

[[3 5 1]
 [9 1 9]
 [3 7 6]]

array([[8, 7],
       [4, 1],
       [4, 7]])

In [36]:
# Perform a dot product on the two newest arrays you created
a1.dot(a2)

array([[ 48,  33],
       [112, 127],
       [ 76,  70]])

In [37]:
# Create two arrays of random integers between 0 to 10
# both of size (4, 3)
a1 = np.random.randint(10, size=(4,3))
a2 = np.random.randint(10, size=(4,3))
print(a1)
a2

[[9 8 8]
 [0 8 6]
 [8 7 0]
 [7 7 2]]

array([[0, 7, 2],
       [2, 0, 4],
       [9, 6, 9],
       [8, 6, 8]])

In [38]:
%%expect_exception ValueError
# Perform a dot product on the two newest arrays you created
a1.dot(a2)

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Input In [38], in <cell line: 2>()
      1 # Perform a dot product on the two newest arrays you created
----> 2 a1.dot(a2)

ValueError: shapes (4,3) and (4,3) not aligned: 3 (dim 1) != 4 (dim 0)

It doesn't work. How would you fix it?

In [39]:
# Take the latest two arrays, perform a transpose on one of them and then perform 
# a dot product on them both
a1.dot(a2.T)

array([[ 72,  50, 201, 184],
       [ 68,  24, 102,  96],
       [ 49,  16, 114, 106],
       [ 53,  22, 123, 114]])

Notice how performing a transpose allows the dot product to happen.

Why is this?

Checking out the documentation on [`np.dot()`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.dot.html) may help, as well as reading [Math is Fun's guide on the dot product](https://www.mathsisfun.com/algebra/vectors-dot-product.html).

Let's now compare arrays.

In [40]:
# Create two arrays of random integers between 0 & 10 of the same shape
# and save them to variables
a1 = np.random.randint(10, size=(2,3))
a2 = np.random.randint(10, size=(2,3))
print(a1)
a2

[[7 1 0]
 [6 6 7]]

array([[4, 2, 7],
       [5, 2, 0]])

In [41]:
# Compare the two arrays with '>'
a1 > a2

array([[ True, False, False],
       [ True,  True,  True]])

What happens when you compare the arrays with `>`?

In [42]:
# Compare the two arrays with '>='
a1 >= a2

array([[ True, False, False],
       [ True,  True,  True]])

In [43]:
# Find which elements of the first array are greater than 7
print(a1 > 7)
a1[a1>7]

[[False False False]
 [False False False]]

array([], dtype=int32)

In [44]:
# Which parts of each array are equal? (try using '==')
print(a1)
print()
print(a2)
a1 == a2

[[7 1 0]
 [6 6 7]]

[[4 2 7]
 [5 2 0]]

array([[False, False, False],
       [False, False, False]])

In [45]:
# Sort one of the arrays you just created in ascending order
print(a1)
np.sort(a1)

[[7 1 0]
 [6 6 7]]

array([[0, 1, 7],
       [6, 6, 7]])

In [46]:
# Sort the indexes of one of the arrays you just created
np.argsort(a1)

array([[2, 1, 0],
       [0, 1, 2]], dtype=int64)

In [47]:
# Find the index with the maximum value in one of the arrays you've created
print(a2)
np.argmax(a2)

[[4 2 7]
 [5 2 0]]

2

In [48]:
# Find the index with the minimum value in one of the arrays you've created
np.argmin(a2)

5

In [49]:
# Find the indexes with the maximum values down the 1st axis (axis=1)
# of one of the arrays you created
print(a2)
np.argmax(a2, axis=1)

[[4 2 7]
 [5 2 0]]

array([2, 0], dtype=int64)

In [50]:
# Find the indexes with the minimum values across the 0th axis (axis=0)
# of one of the arrays you created
np.argmin(a2, axis=0)

array([0, 0, 1], dtype=int64)

In [51]:
# Create an array of normally distributed random numbers
random_array = np.random.uniform(size=(2,3))
random_array

array([[0.38292687, 0.9717121 , 0.84891382],
       [0.72172952, 0.23598492, 0.25606832]])

In [52]:
# Create an array with 10 evenly spaced numbers between 1 and 100
spaced_array = np.linspace(1,100,10)
spaced_array

array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])

## Extensions

For more exercises, check out the [NumPy quickstart tutorial](https://numpy.org/doc/stable/user/quickstart.html). A good practice would be to read through it and for the parts you find interesting, add them into the end of this notebook.

Pay particular attention to the section on broadcasting. And most importantly, get hands-on with the code as much as possible. If in dobut, run the code, see what it does.

The next place you could go is the [Stack Overflow page for the top questions and answers for NumPy](https://stackoverflow.com/questions/tagged/numpy?sort=MostVotes&edited=true). Often, you'll find some of the most common and useful NumPy functions here. Don't forget to play around with the filters! You'll likely find something helpful here.

Finally, as always, remember, the best way to learn something new is to try it. And try it relentlessly. If you get interested in some kind of NumPy function, asking yourself, "I wonder if NumPy could do that?", go and find out.